
# springboot-service.yaml: Expose Spring Boot application
apiVersion: v1
kind: Service
metadata:
  name: springboot-service
spec:
  selector:
    app: springboot
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8089  # Match the exposed port in Dockerfile
  type: LoadBalancer
